.navigation {
  display: flex;
  position: absolute;
  /* top : 100%; */
  top: 0;
  right: 0;
  background-color: black;
  gap: 5px;
  padding: 10px;
  flex-direction: column;
  width: 250px;
  /*
   top: 
   bottom:
   position:
   */

  transform: translateY(-200%);
  transition: transform 0.25s;
}
#burger {
  /* margin-left: auto; /* utilise l'espace restant à gauche de la navigation*/
  position: absolute;
  top: 10px;
  right: 39px;
  z-index: 11;
}
/*
   Conteneur qui cible l'image dans le label #burger.
   Chacune des deux images aura un positionnement absolute
   au coordonnée (0,0)  coin supérieur gauche
*/
#burger img {
  position: absolute;
  top: 0;
  left: 0;
}
/* les trois barres */
/* la première image */
#burger img:nth-of-type(1) {
  display: block;
}
/* le X */
/* la deuxième image */
#burger img:nth-of-type(2) {
  display: none;
}
/* quand on coche la case à côcher on rend visible l'image X
et on rend l'image burger invisible
*/
#chk_burger:checked ~ #burger img:nth-of-type(2) {
  display: block;
}
#chk_burger:checked ~ #burger img:nth-of-type(1) {
  display: none;
}

.navigation a {
  color: #fff;
}
/* pour rendre la case à cocher invisible */
#chk_burger {
  display: none;
}
/*
https://www.w3schools.com/cssref/css_selectors.php


opérateur de sélection
epace « »  main div (permet de sélectionner tous les div inclus dans main)
plus grand « > »  main > div (permet de sélectionner tous les div qui ont comme parent direct main )
plus « + » main + p (permet de sélectionner le premier «p» situé après la balise main)
vague « ~ » main ~ p (permet de sélectionner tous les «p» situés apre`s main)
*/

/*
si la case à côcher #chk_burger est côché alors on sélectionne le conteneur .navigation.
La règle de style formatera .navigation
*/

#chk_burger:checked ~ .navigation {
  transform: translateY(0);
}

/* référence des fonctions CSS 
https://css-tricks.com/complete-guide-to-css-functions/
*/
