* {
    margin : 0;
    padding:0;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


/*  la balise body est le conteneur principal
     flexbox dont les enfants s'afficheront sur une colonne
     flex-direction : column;
*/     

body{
    display : flex;
    flex-direction:column;
} 

/*
opérateur de sélection « > » permet de sélectionner
 l'enfant direct de la balise qui précède le «>»
 La différence entre « > » et « » c'est que plus grand permet de sélectionner
 l'enfant direct et « » permet de sélectionner l'enfant l'arrière petite enfant et ainsi de suite.

 Le « > » est plus spécifique que l'aopérateur « »
*/

/*
 C'est toujours le dernier élément de la suite qui est sélectionné. 
 Et c'est sur cet élément qu'on applique la règle de style
*/
body  > div {
    display : flex;
    justify-content: center;
 
}
#entete {
   z-index : 10;
}

body > div > section,
body > div > footer,
body > div > header {
    display : flex;
    flex: 0 1 1100px;
    border : 1px solid #aaa;
    /* background-color: rgba(0,0,0,.1); /* filtre de transparence */
    background-color: rgba(255,255,255,.5);/* blanchir la couleur */
}

body > div > section {
    padding-top : 100px;
    flex-direction: column;
}

body > div > header{
    position : relative;
}

body > div > section{
    min-height : 100vh;
}
/* Entete */
/* body>div:nth-of-type(1) */
#entete
{
    background-color: beige;
    position : sticky;
    top : 0;
    /*
    90deg : de gauche à droite 
    -90deg : de droite à gauche
    */
    background-image: linear-gradient(20deg, #00f, #0f0);
}
/* body>div:nth-of-type(2) */
#accueil {
    background-color: rgb(236, 236, 175);
}
body>div:nth-of-type(3){
    background-color: rgb(171, 216, 205);
}
body>div:nth-of-type(4){
    background-color: rgb(153, 154, 128);
}
body>div:nth-of-type(5){
    background-color: rgb(34, 34, 30);
}


h1{
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size : clamp(1rem, -0.875rem + 8.333vw, 5.5rem);
    text-shadow: 6px 4px 12px #555;
}
h2{
    font-size: clamp(1rem, -1.292rem + 7.333vw, 3.75rem);
}
h3{}
h4{}

p{}
